/* Globals */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
h1, h2, h3, h4 { font-family: 'PT Sans', sans-serif; }
h1 { font-size: 4.8rem; }
h2 { 
  font-size: 4rem;
  line-height: 1.2;
 }
h3 { font-size: 3.2rem; }
h4 { 
  font-size: 2.8rem;
  line-height: 1.2;
}
img { max-width: 100%; }

/* Utilities */
.t-center { text-align: center; }
.no-margin { margin: 0; }

/* Grid */
@media (min-width: 768px) {
  .grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .columns-centred { justify-content: center; }
  .columns-4 { flex: 0 0 calc(33.3% - 1rem); }
  .columns-6 { flex: 0 0 calc(50% - 1rem); }
  .columns-8 { flex: 0 0 calc(66.6% - 1rem); }
  .columns-10 { flex: 0 0 calc(83.3% - 1rem); }
  .columns-12 { flex: 0 0 100% }
}

/* Buttons */
.button {
  display: block;
  text-align: center;
  padding: 1rem 3rem;
  margin: 2rem 0;
  color: white;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  .button {
    display: inline-block;
    flex: 0 0 auto;
  }
}
.button-primary {
  background-color: black;
}
.button-secondary {
  background-color: #784D3C;
}

/* Header */
@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.site-header {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 60rem;
}
.site-header a {
  color: white;
  text-decoration: none;
}
.site-header h1 {
  text-align: center;
  font-weight: 400;
}
.site-header h1 span {
  font-weight: 700;
}

/* Navbar */
.navbar a {
  text-align: center;
  display: block;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar a {
    display: inline;
    margin-right: 2rem;
  }
  .navbar a:last-of-type {
    margin: 0;
  }
}
.header-text {
  color: white;
  text-align: center;
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .header-text {
    margin-top: 15rem;
  }
}
.header-text p {
  font-size: 2.2rem;
}

/* Main content HOME */
.main-content {
  display: flex;
  flex-wrap: wrap-reverse;
}
.blog,
.courses { flex: 0 0 100%; }
@media (min-width: 768px) {
  .main-content { justify-content: space-between; }
  .blog { flex-basis: 66.6%; }
  .courses { flex-basis: calc(33.3% - 4rem)}
}
.blog-post {
  margin-bottom: 2rem;
  border-bottom: 1px solid #E1E1E1;
}
.blog-post:last-of-type {
  border: none;
}

/* Optional Layout */
/*
.blog-post {
  display: flex;
  justify-content: space-between;
}
.blog-post .image { flex: 0 0 40%; }
.blog-post .blog-content { flex: 0 0  calc(60% - 2rem)}
*/

/* Sidebar Courses */
.courses-list {
  padding: 0;
  list-style: none;
}
.course {
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #E1E1E1;
}
.course:last-of-type {
  border: none;
}
.course p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.course p span,
.course p.course-description {
  font-weight: 400;
}

/* Footer */
.site-footer {
  background-color: black;
  padding: 3rem;
  margin-top: 4rem;
  text-align: center;
}
.site-footer p {
  color: white;
  font-size: 4rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
.site-footer p span {
  font-weight: 700;
}

/* Contact */
.contact-form {
  background-color: white;
  padding: 5rem;
}
@media (min-width: 768px) {
  .contact-form {
    margin-top: -10rem;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  }
}
.contact-form .contact-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.contact-form .contact-item label {
  flex: 0 0 8rem;
}
.contact-form .contact-item input:not([type="submit"]),
.contact-form textarea {
  flex: 1;
  border: 1px solid #E1E1E1;
  padding: 1rem;
}
.contact-form textarea {
  height: 20rem;
}
.contact-form .send {
  display: flex;
  justify-content: flex-end;
}
